.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
!node_modules/cross-spawn/**
!node_modules/isexe/**
!node_modules/path-key/**
!node_modules/shebang-command/**
!node_modules/shebang-regex/**
!node_modules/which/**
.env
test/
**/*.test.*
images/icon.svg
images/icon128.png
